{% extends "base.html" %}
{% load static %}

{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Mensagens</h1>
                    <span class="subheading">Mensagens enviadas.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for mensagem in mensagens %}
            <div class="post-preview">
                <a href="{% url 'contact' %}">
                    <h2 class="post-title">{{ mensagem.mensagem }}</h2>
                </a>
                <p class="post-meta">
                    enviada  por
                    <a href="#!">{{ mensagem.nome }}</a>
                    {% if mensagem.cidade %}
                    em {{ mensagem.cidade }}
                    {% endif %}
                </p>
                <a href="{% url 'editar_mensagem' mensagem.id %}">
                    <button class="btn btn-warning btn-sm">Editar</button>
                </a>
                <a href="{% url 'deletar_mensagem' mensagem.id %}">
                    <button class="btn btn-danger btn-sm">Deletar</button>
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}